* { box-sizing: border-box; }

#fondo{
  width: 90%;
  height: 90%;
	background: url("2.jpg") no-repeat center top;
  position: relative;
  background-size: cover;
}

#iluminati{
  width: 500px;
  height: 281px;
  background: url(ilumani.png);
  animation: ilum 1s steps(19) infinite;
  position: relative;
}

#goku-mov {
  width: 44px;
  height: 40px;
  background: url("1.png");
  animation: andar 9s steps(3) infinite, moverse 6s steps(3000) infinite, jump 3s steps(3) infinite;
  transform: scale(4);
  position: absolute;
  bottom: 0;
  left: 0;
}

#vegeta{
  width: 323px;
  height: 252px;
  background: url("vegeta.png");
  animation: galick 4s steps(74) infinite;
  position: absolute;
  bottom: 100px;
  right: 100px;
  transform: scaleX(-1) scale(2);
}

#cell{
  width: 197px;
  height: 174px;
  background: url("celljr.png");
  animation: celle 4s steps(61) infinite;
  position: absolute;
  bottom: -20px;
  right: 140px;
  transform: scale(2);
}

.cohete {
    width: 150px;
    height: 102px;
    background: url("cohete.png");
    position: absolute;
    transform: scaleX(-1);
    animation: kame 0.3s steps(4) infinite, kamea 5s steps(300) infinite;
    bottom: 0;
    right: 0;
}

/*iluminati*/
@keyframes ilum {
  100% {background-position: -9500px;}
}


/*KAMEHAME*/
@keyframes kame {
  100% {background-position: -600px;}
}


@keyframes kamea {
  100% { margin-left: -44px; margin-right: 100%;}
}

/*VEGETA*/
@keyframes galick {
  100% { background-position: -23902px;}
}


/*GOKU*/
@keyframes andar {
  100% {background-position: -132px;}
}

@keyframes moverse {
  100% { margin-right: -44px; margin-left: 100%; }
}

@keyframes jump {
  50% { bottom: 226px; }
  100% { bottom: 113px; }
}


/*cell*/
@keyframes celle {
  100% {background-position: 12017px;}
}
